.hgh-100vh {
    height: 100vh
}

.input-wrap-file:focus,
.input-wrap-file:focus-within {
    box-shadow: none;
}

label:has(+.input-wrap-range) {
    font-weight: 700;
}

.scroll-content {
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
}


:root {
    --color-bg: hsla(55, 10%, 96%, 1);
    --clip: 0%;
    --clipRaster: 0%;
    --translateYImg: 0%;
    --imgScale: 1;
}

body {
    background: var(--color-bg);
}


.sr-only {
    clip-path: inset(100%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    margin: -1px;
    left: 0;
}


@media (min-width: 900px) {
    .grd-main {
        grid-template-columns: 17.4em 17.25em 2fr !important;
    }
}

@media (max-width: 400px) {
    .grd-main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}



/*
.aside p {
    margin: 0;
    margin-bottom: 0.5rem;
}
*/



.btn-download {
    margin-right: 0.5rem;
}


.showMarkers {
    path {
        outline: 1px solid var(--color-focus);
        marker-start: url(#markerStart);
        marker-mid: url(#markerRound);
        stroke-width: 0.15%;
    }
}

canvas {
    max-width: 100%;
    outline: 1px solid #ccc
}


.inputSvg {
    svg {
        outline: 1px solid #ccc
    }
}



.btn-download {
    display: inline-flex;
    padding: 0.5em;
    line-height: 1em;
    border-radius: 0.3rem;
    align-items: center;

    &:hover {
        color: var(--color-bg);
        --color-icon: #fff;

        svg {
            stroke: #fff;
        }
    }
}


.preview {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    mix-blend-mode: darken;

}



.prevImg,
.prevImg svg {
    overflow: visible;
    max-width: 100%;
    min-width: 100%;
    max-height: 40vh;
    height: auto;
    object-fit: contain;
}


.prevImg,
.imgPreview {
    filter: grayscale(1);
}


.prevImg-svg svg {
    /* fill: red; */
    clip-path: inset(0 var(--clip) 0 0);
    /*
    */
    transform: translateY(var(--translateYImg));
    background-color: #fff;
    width: 100%;
    height: auto;

}

.prevImg-raster {
    /* clip-path: inset(0 0 0 var(--clipRaster))*/
    /* transform: translateY(var(--translateYImg)); */
    image-rendering: pixelated;
}

.prevImg-raster {
    transform: scale(var(--imgScale));
}



.prevImg {
    position: absolute;
    inset: 0;
    top: 50%;
    margin-top: -15%;
    bottom: 0;


    /*
    height:100%;

    top: 50%;
    */
}

.toolbar-slider {
    position: absolute;
    width: 100%;
    bottom: 4em;
    left: 0;
    right: 0;
}


.elzoomo {
    position: relative;
    overflow: hidden;
    line-height: 0px;
    width: 100%;
    height: 100%;
}

.wrp-loading {
    /*
    */
    visibility:hidden;
    position: absolute;
    inset: 0;
    z-index: 2000;

    p {
        text-align: center;
    }
}

.processing {
    .wrp-loading {
        visibility:visible;
    }


    .prevImg-raster,
    .prevImg-svg{
        visibility:hidden;
        /*
        */
    }

}